* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

.home-bg {
  background-image: url(../images/homebg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}

img {
  z-index: -1;
}

div.cloud {
  overflow-y: hidden;
}

img.mid-cloud {
  position: relative;
  height: 30vh;
  width: 50vh;
  left: 335px;
  top: 2vh;
  border-radius: 0px;
  z-index: 1;
  animation: linear infinite;
  animation-name: cloudMrun;
  animation-duration: 100s;
  overflow-x: hidden;
}
@keyframes cloudMrun {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

img.left-cloud {
  position: relative;
  height: 28vh;
  width: 25vw;
  bottom: 13vh;
  border-radius: 0px;
  animation: linear infinite;
  animation-name: cloudLrun;
  animation-duration: 40s;
  z-index: 1;
  overflow-x: hidden;
}
@keyframes cloudLrun {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

img.right-cloud {
  position: relative;
  width: 60vh;
  height: 21vh;
  bottom: 67vh;
  animation: linear infinite;
  animation-name: cloudRrun;
  animation-duration: 20s;
  transform: matrix(-1, -0.01, -0.01, 1, 0, 0);
  z-index: 0;
  overflow-x: hidden;
}
@keyframes cloudRrun {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.unicorntext {
  position: absolute;
  height: 400px;
  width: 1100px;
  right: 2.5vw;
  top: 20vh;
  border-radius: 0px;
  z-index: 999;
  animation-name: left_right;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes left_right {
  0% {
    transform: rotateY(0deg);
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(10deg);
  }
  50% {
    transform: rotateY(30deg);
  }
  75% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateY(0deg);
    transform: rotateX(0deg);
  }
}

.unicornhome {
  position: absolute;
  height: 800px;
  width: 850px;
  top: 33vh;
  left: 35vw;
  border-radius: 0px;
  z-index: 999;
  transform: rotate(7deg);
}
