@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  font-family: "Fredoka One", cursive;
}

ul {
  padding: 0.5em;
  height: 9vh;
}

button li {
  font-size: 32px;
  letter-spacing: 0.1em;
  color: rgb(58, 170, 92);
  text-shadow: 2px 2px rgb(74, 247, 109);
  opacity: 1;
}

.unicorn-circle {
  height: 200px;
  width: 200px;
  background-color: #fab4d2;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 44%;
  top: 1vh;
}

img.unicorn-circle {
  z-index: 999;
  transition: 0.5s all ease-in-out;
}

img.unicorn-circle:hover {
  transform: scale(1.2);
}
