@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
body {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 2em;
  color: #fd046c;
  text-shadow: 2px 2px 5px #ff79e2;
}

/* PAGE1 */
.page1-bg {
  background-image: url(../images/bgpage1-2.jpg);
  background-size: cover;
  height: 100vh;
  z-index: -1;
  background-attachment: fixed;
  overflow-y: hidden;
}

.pic1 {
  position: relative;
  top: 31vh;
  z-index: 1;
  padding: 10px;
  transition: 1s;
}
a img.top{
  animation-name: fadeIn;
}
@keyframes fadeIn{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.unicorn_p1 {
  margin: 0 auto;
  height: 872px;
  width: 712px;
  border-radius: 0px;
  opacity: 1;
}



.pic1_2 {
  position: relative;
  top: -61vh;
  z-index: 0;
  transition: opacity 2s ease-in-out;
}

.unicorn_p1_2 {
  margin: 0 auto;
  height: 872px;
  width: 712px;
  border-radius: 0px;
  opacity: 1;
}
.text1 {
  position: relative;
  bottom: 65vh;
  left : 76vh;
  z-index: 1;
}

/* PAGE2 */
.page2-bg {
  background-image: url(../images/bgpage1-2.jpg);
  background-size: cover;
  height: 100vh;
  z-index: -1;
  background-attachment: fixed;
  overflow-y: hidden;
}
.pic2 {
  position: relative;
  top: 32vh;
  z-index: 0;
}

.unicorn_p2 {
  margin: 0 auto;
  height: 872px;
  width: 712px;
  border-radius: 0px;
  opacity: 1;
}

.text2 {
  position: relative;
  bottom: 64vh;
  left : 62vh;
  z-index: 1;
}

/* PAGE3 */
.page3-bg {
  background-image: url(../images/bgpage3.jpg);
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.pic3 {
  position: relative;
  left: 30vh;
}

.unicorn_p3 {
  width: 100vh;
  height: 100vh;
}
.text3{
  position: relative;
  bottom: 67vh;
  left : 125vh;
  z-index: 1;
  font-size: 0.8em;
}

/* PAGE4 */
.page4-bg {
  background-image: url(../images/bgpage4-5.jpg);
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.pic4 {
  position: relative;
  top: 9vh;
  left: 3.7vw;
}

.unicorn_p4 {
  width: 100vh;
  height: 100vh;
}

.pic4_2 {
  position: relative;
  bottom: 74vh;
  left: 26vw;
}

.person_p4 {
  height: 100vh;
}
.text4{
  position: relative;
  bottom: 166vh;
  left : 125vh;
  z-index: 1;
  font-size: 0.8em;
}


/* PAGE5 */
.page5-bg {
  background-image: url(../images/bgpage4-5.jpg);
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.pic5 {
  position: relative;
  top: 9vh;
  left: 21vw;
}

.unicorn_p5 {
  height: 110vh;
  width: 40vw;
}

.pic5_2 {
  position: relative;
  bottom: 110vh;
  left: 8vw;
}

.person_p5 {
  height: 114vh;
}
.text5{
  position: relative;
  bottom: 195vh;
  left : 115vh;
  z-index: 1;
  font-size: 0.8em;
}

/* PAGE6 */
.page6-bg {
  background-image: url(../images/bgpage6.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.pic6 {
  position: relative;
  top: 14vh;
  left: 8vw;
}

.unicorn1_p6 {
  height: 800px;
}
.text6{
  position: relative;
  bottom: 150vh;
  left : 9vh;
  z-index: 1;
  font-size: 0.75em;
}
.text6_2{
  position: relative;
  bottom: 154vh;
  left : 120vh;
  z-index: 1;
  font-size: 0.75em;
}

.pic6_2 {
  position: relative;
  top: -72vh;
  left: 60vw;
}

.unicorn2_p6 {
  height: 800px;
}

/* PAGE7 */
.page7-bg {
  background-image: url(../images/bgpage7.jpg);
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.pic7 {
  position: relative;
  bottom: 10vh;
  left: 10vw;
}

.star-cloud {
  height: 60vh;
  width: 60vh;
}

.pic7_2 {
  position: relative;
  bottom: 53vh;
  left: 10vw;
}

.unicorn1_p7{
  height: 60vh;
  width: 45vh;
}

.pic7_3 {
  position: relative;
  bottom: 100vh;
  left: 62vw;
}

.unicorn2_p7{
  height: 70vh;
  width: 50vh;
}

.pic7_4 {
  position: relative;
  bottom: 173vh;
  left: 50vw;
}

.person_p7{
  height: 65vh;
  width: 50vh;
}
.text7{
  position: relative;
  bottom: 33vh;
  left : 115vh;
  z-index: 1;
  font-size: 0.8em;
}
.text7_2{
  position: relative;
  bottom: 47vh;
  left : 25vh;
  z-index: 1;
  font-size: 25px;
}
/* PAGE8 */
.page8-bg {
  background-image: url(../images/bgpage8.jpg);
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.pic8 {
  position: relative;
  bottom: 11vh;
  left: 17vh;
}

.unicorn1_p8 {
  height: 60vh;
}

.pic8_2 {
  position: relative;
  bottom: 62vh;
  left: 50vh;
}

.person_p8 {
  height: 45vh;
}

.pic8_3 {
  position: relative;
  bottom: 87vh;
  left: 51vw;
}

.unicorn2_p8 {
  height: 70vh;
}
.text8{
  position: relative;
  bottom: 41vh;
  left : 128vh;
  z-index: 1;
  font-size: 0.8em;
}
.text8_2{
  position: relative;
  bottom: 38vh;
  left : 14vh;
  z-index: 1;
  font-size: 0.75em;
}
/* MEMBERS */
.members-bg {
  background-image: url(../images/bgmembers.jpg);
  background-size: cover;
  height: 100vh;
}

.member1,
.member2,
.member3,
.member4,
.member5,
.member6 {
  height: 354px;
  width: 251px;
  z-index: 999;
}

.flex-container {
  display: flex;
  flex-flow: column;
  flex-direction: row;
  justify-content: center;
  padding-top: 10vh;
}

div.box1 {
  animation: box-jump;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

div.box2 {
  animation: box-jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

div.box3 {
  animation: box-jump;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

div.box4 {
  animation: box-jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

div.box5 {
  animation: box-jump;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

div.box6 {
  animation: box-jump;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes box-jump {
  0% {
    transform: translateY(0%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-100%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0%);
  }
}
